.div1 {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 500px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  
    .example-button-row {
      display: flex;
      margin-left: 150px;
      justify-content: center;
    }
  
  
    :host {
      display: block;
      margin-top: 1rem;
    }
   
    .info-text {
      text-align: center;
    }
  
    button{
      margin-right: 40px;
    }
  
   mat-expansion-panel{
      width: 33%;
      margin-left: 500px;
      margin-bottom: 10px;
    }
  
    mat-panel-title{
      font-size: 30px;
    }
  
  